@import "tailwindcss";
@import "@nuxt/ui";


.hidden-scrollbar{
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
    display:none;
}
